<div class="col-lg-12">
    <ul class="nav nav-pills">
        <li class="active">
          <a href="/LakeFinder">MN Fish Lake Finder</a>
        </li>
        <li>
            <a routerLink="/lakefeature" routerLinkActive="active">Search by lake features</a>
        </li>
        <li>
            <a routerLink="/lakesearch" routerLinkActive="active">Search by lake</a>
        </li>
        <li>
            <a href="https://paypal.me/swoonme" target="_blank">Donate</a>
        </li>
    </ul>
</div>
&nbsp;
<div class="col-lg-12">
    <label for="species-select">Species</label>
    <select id="species-select" [(ngModel)]="speciesInput" class="form-select mb-2">
        <option *ngFor="let s of species" [value]="s.Id">{{ s.Species }}</option>
    </select>
    <label for="county-select">County</label>
    <select id="county-select" [(ngModel)]="countyInput" class="form-select mb-2">
        <option [value]="0">All of MN</option>
        <option *ngFor="let c of counties" [value]="c.Id">{{ c.County }}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="searchLakes(countyInput)">Search</button>
</div>
<div class="col-lg-12">
    <h1>Searching {{currentcounty}} County {{lakeCount}}</h1>
    <h2>{{countyCount}}</h2>
    <p>{{searchstatus}}</p>
</div>
<div class="col-lg-12 w-auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Average Weight</th>
                <th>Survey Date</th>
                <th>0-5"</th>
                <th>6-7"</th>
                <th>8-9"</th>
                <th>10-11"</th>
                <th>12-14"</th>
                <th>15-19"</th>
                <th>20-24"</th>
                <th>25-29"</th>
                <th>30-34"</th>
                <th>35-39"</th>
                <th>40-44"</th>
                <th>45-49"</th>
                <th>50-100"</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lake of fishtable; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <a href="javascript:void(0)" (click)="GoToLake(lake.lakeid)">{{ lake.name }}</a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" (click)="GoToWaterAccess(lake.lakeid)">
                        <img src="https://cdn.icon-icons.com/icons2/1364/PNG/512/boatonaramp_89129.png" width="15" height="15" title="Water Access Site" />
                    </a>
                    <button type="button" class="dialog-open-button" (click)="openDialog(lake.narrative)" title="Lake Summary">
                        <i class="far fa-file-alt fa-lg"></i>
                    </button>
                </td>
                <td>{{ lake.speciesdata.averageWeight }}</td>
                <td>{{ lake.surveyDate | date:'shortDate' }}</td>
                <td>{{ lake.fishlengths.zero }}</td>
                <td>{{ lake.fishlengths.one }}</td>
                <td>{{ lake.fishlengths.two }}</td>
                <td>{{ lake.fishlengths.three }}</td>
                <td>{{ lake.fishlengths.four }}</td>
                <td>{{ lake.fishlengths.five }}</td>
                <td>{{ lake.fishlengths.six }}</td>
                <td>{{ lake.fishlengths.seven }}</td>
                <td>{{ lake.fishlengths.eight }}</td>
                <td>{{ lake.fishlengths.nine }}</td>
                <td>{{ lake.fishlengths.ten }}</td>
                <td>{{ lake.fishlengths.eleven }}</td>
                <td>{{ lake.fishlengths.twelve }}</td>
                <td>{{ lake.fishlengths.total }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="dialog-backdrop" *ngIf="dialogVisible">
    <div class="dialog-box">
        <div class="dialog-header">
            <h3>Lake Summary</h3>
            <button type="button" class="dialog-close" (click)="closeDialog()">&times;</button>
        </div>
        <div class="dialog-body">
            <div [innerHTML]="safeDialogContent"></div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
        </div>
    </div>
</div>

<router-outlet />
